<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>BooksLooks</title>
    <link href="/main.css" rel="stylesheet">
</head>
<body>

    <div class="box" id="heading">
        <h1>
          <%# listTitle %> Hello
        </h1>
        <p>This is my little library of read books with notes. Browse and enjoy!</p>
      </div>
        
      </div>
      <div class="response-area">
        <section id="cards" class="cards">
            <%  for(let item of list){%>
            <div>
                <!-- <img src=<%# content.image %> height="200"> -->
            </div>
            <article class="card-item">
            <h2 class="card-name">
                <%=item.book_title%>
            </h2>
            <div class="card-info">
              <span class="card-id">
                <%= item.author%>
              </span>
              <span class="card-status">
                <%= item.rating%>
              </span>
              <span class="card-location">
                <%= item.date_completed%>
              </span>
            </div>
            
  
          </article>
          <% } %>
        </section>
      </div>
</body>
</html>