.book_notes > input {
  display: none;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.card {
  margin: auto;
}

body {
  background-color: rgb(233, 230, 230);
}

header > a > button {
  position: fixed;
  left: 10px;
  top: 5px;
}
