html {
    background-color: rgb(130, 134, 148);
    background-image: -webkit-linear-gradient(65deg, #83d0e3 50%, rgb(130, 134, 148) 50%);
    min-height: 1000px;
    font-family: "helvetica neue";
  }
  body {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    min-height: 95vh;
  }
  main {
    text-align: center;
    
  }
  h1 {
    color: rgb(130, 134, 148);
    padding: 10px;
  }
  
.container {
    height: 100%;
    width: 100%;
    max-width: 570px;
    margin: 0 auto;
    padding: 60px;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  #heading {
    background-color: white;
    text-align: center;
  }
  form.edit {
    display: flex;
  }
  
  .cards {
    display: flex;
    margin: 20px 0;
    width: 100%;
  }
  .card-item {
    width: 100%;
    padding: 5px 20px 20px;
    border: 1px solid rgb(232, 232, 232);
    background-color: white;
    border-radius: 5px;
  }
  .card-info {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .card-activity {
    line-height: 1.2;
    margin-top: 10px;
  }
  
  footer {
    flex: 0 0 auto;
    color: white;
    text-align: center;
  }